* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 20px;
}

.form-card {
  padding: 40px 20px;
  border: 1px solid black;
  width: 480px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form-card input[type="text"] {
  padding: 10px 5px 10px 3px;
}

.form-card .select-field {
  display: flex;
  align-items: center;
  padding: 0 20px;
  column-gap: 20px;
}

.form-card .select-field select {
  flex: 1;
  padding: 10px 5px 10px 3px;
}

.form-card button {
  padding: 10px 0;
}

.input-field {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.input-field label {
  color: gray;
  font-size: 14px;
}

.data-item {
  border: 1px dashed gray;
  padding: 20px;
  width: 520px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.data-item .header {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.data-item .score {
  font-size: 24px;
  font-weight: bold;
  color: palevioletred;
}

.data-item .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
